<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Personal Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1 class="main-heading"> AI Personal Assistant</h1>
       <div class="container">

        <!-- query -->
        <h2>Ask Anything</h2>
        <form id="askform">
            <input type="text" name="question" placeholder="Ask anything..." required>
            <button type="submit">Ask</button>
        </form>
        <p id="ans-loading" style="display: none;">Processing...</p>
        <p id="answer"></p>

        <hr>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
